{% load static %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CHOW | ENJOY AND SHARE RECIPES</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <script src="{% static 'js/uikit.js' %}"></script>
</head>

<style>
  /* Add this CSS to your <style> tag or external stylesheet */
  .profile-picture {
    display: flex;
    align-items: center;
  }

  .profile-picture img {
    border-radius: 50%;
    border: 2px solid #fff; /* Add a white border around the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }

  .profile-picture .uk-margin-left {
    margin-left: 10px; /* Adjust the margin as needed */
  }

  .center-image {
    display: block;
    margin: auto;
  }
  /* Style for the logout link */
  .profile-picture .uk-text-small {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .profile-picture .uk-text-small:hover {
    color: #666; /* Change the color on hover */
  }

  .uk-subnav > li{
    color: white;
  }

  .uk-subnav > li > a.active {
    background-color: #eb4a36; /* Change to your desired background color */
    color: white;
  }

  .uk-subnav-pill > * > :first-child {
    padding: 5px 10px;
    background: #b1b5bc;
    color: white;
  }
</style>

<body>

<nav class="uk-navbar-container uk-letter-spacing-small">
  <div class="uk-container">
    <div class="uk-position-z-index" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">CHOW</a>
        <ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
          <li ><a href="{% url 'home' %}">Home</a></li>
          <li ><a href="{% url 'share' %}">Share Recipe</a></li>
          <li ><a href="{% url 'contact' %}">Contact</a></li>
          <li ><a href="{% url 'faq' %}">FAQ</a></li>
          <li class="uk-active">
                {% if user.is_authenticated %}
                    <a href="{% url 'shared-recipes' %}">Shared Recipe</a>
                {% endif %}
            </li>
        </ul>
      </div>
      <div class="uk-navbar-right">

<div class="profile-picture">
  {% if user.is_authenticated %}
          <div class="uk-width-auto uk-first-column">
            <a href="{% url 'manage' %}" data-uk-tooltip="title: Personal Details"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512" height="25px" width="30px" fill="#eb4a36"><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>
            </a>
          </div>
      <div class="uk-margin-left">
          <a class="uk-text-small uk-text-primary" href="{% url 'logout' %}">Logout</a>
      </div>
  {% else %}
      <div class="uk-margin-left" style="margin-left: 0px !important;">
          <a class="uk-button" href="{% url 'signin' %}">Sign In</a>
          <a class="uk-button uk-button-primary" href="{% url 'signup' %}">Sign Up</a>
      </div>
  {% endif %}
</div>
        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
          data-uk-navbar-toggle-icon></span></a>
      </div>
    </div>
  </div>
</nav>

  <!-- Shared Recipe Tab Content -->
  <div id="sharedRecipeContent" class="tab-content">
    <div class="uk-card uk-card-default uk-card-body">
      <h1 class="uk-card-title"><span style="text-transform: capitalize; color: #eb4a36;">{{ request.user.first_name }} {{ request.user.last_name }}</span> Specials</h1>
      <div class="uk-child-width-1-2 uk-child-width-1-3@s" data-uk-grid>
        {% if shared_recipes %}
            {% for recipe in shared_recipes %}
                    <div class="uk-card">
                        <div class="uk-card-media-top uk-inline uk-light" style="height: 160px; overflow: hidden;">
                            <img class="uk-border-rounded-medium" src="{{ MEDIA_URL }}{{ recipe.image.url }}" alt="{{ recipe.name }}" style="width: 300px; height: auto; object-fit: cover;">
                            <div class="uk-position-cover uk-card-overlay uk-border-rounded-medium"><a href="#" style="color: red; font-size: 24px; margin: 10px; transition: color 0.3s ease;  " class="delete-recipe ad-st-view" data-id="{{ recipe.id }}" data-uk-icon="icon: trash" class="delete-icon"></a>
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'recipe_detail' recipe_name=recipe.name %}"><h3 class="uk-card-title uk-text-500 uk-margin-small-bottom uk-margin-top" style="text-transform: capitalize;">{{ recipe.name }}</h3></a>
                            <!-- <div class="uk-text-xsmall uk-text-muted" data-uk-grid>
                                <div class="uk-width-auto uk-flex uk-flex-middle">
                                    <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.7"></span>
                                    <span class="uk-margin-xsmall-left">5.0</span>
                                    <span>(73)</span>
                                </div>
                                <div class="uk-width-auto uk-flex uk-flex-middle">by <span style="text-transform: capitalize;">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</span></div>
                            </div> -->
                        </div>
                    </div>
                <!-- <a href="{% url 'recipe_detail' recipe_name=recipe.name %}" class="uk-position-cover">{{ recipe.name }}</a> -->

            {% endfor %}
        {% else %}
            <p>You have no shared recipe.</p>
        {% endif %}
      </div> 
    </div>
  </div>

 <!-- for the custom confirmation dialog -->
 <div class="custom-alert" id="custom-confirmation" style="display:none;">
  <div class="custom-alert-content uk-card uk-card-default uk-card-body uk-width-1-3@m uk-position-center">
      <p id="custom-alert-message"></p>
      <button id="custom-confirmation-yes-button" class="uk-button uk-button-primary" type="button">Yes</button>
      <button id="custom-confirmation-no-button" class="uk-button uk-button-secondary" type="button">No</button>
  </div>
</div>

<!-- JavaScript for handling the "Delete" links -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  // Function to delete a recipe
  function deleteRecipe(recipeId) {
      // Send an AJAX request to delete the recipe
      $.ajax({
          type: "GET",
          url: "{% url 'delete_recipe' %}",  // URL for deleting recipes
          data: { id: recipeId },
          success: function (data) {
              if (data.message === 'Recipe deleted successfully') {
                  // Remove the recipe element from the DOM
                  $('#recipe' + recipeId).remove();
                  // Reload the page
                  location.reload();
                  // Hide the confirmation dialog
                  $('#custom-confirmation').hide();
              } else {
                  // Handle any other response or error conditions
                  console.error('Error deleting recipe:', data.message);
              }
          },
          error: function (xhr, textStatus, errorThrown) {
              // Handle AJAX error
              console.error('AJAX Error:', textStatus, errorThrown);
          }
      });
  }

  // Attach click event handler to all "Delete" links with class "delete-recipe"
  $(document).on('click', '.delete-recipe', function (e) {
      e.preventDefault();  // Prevent the default link behavior
      var recipeId = $(this).data('id');
      
      // Show the custom confirmation dialog
      $('#custom-confirmation').show();
      $('#custom-alert-message').text("Are you sure you want to delete this recipe?");
      
      // Set up event listeners for the "Yes" and "No" buttons
      $('#custom-confirmation-yes-button').off('click').on('click', function() {
          deleteRecipe(recipeId);  // Call the deleteRecipe function
      });
      
      $('#custom-confirmation-no-button').off('click').on('click', function() {
          $('#custom-confirmation').hide();  // Hide the confirmation dialog
      });
  });
</script>



<footer class="uk-section uk-section-default">
  <div class="uk-container uk-text-secondary uk-text-500">
    <div class="uk-child-width-1-2@s" data-uk-grid>
      <div>
        <a href="#" class="uk-logo">CHOW</a>
      </div>
      <div class="uk-flex uk-flex-middle uk-flex-right@s">
        <div data-uk-grid class="uk-child-width-auto uk-grid-small">
          <div>
            <a href="https://www.facebook.com/" data-uk-icon="icon: facebook; ratio: 0.8" class="uk-icon-button facebook" target="_blank"></a>
          </div>
          <div>
            <a href="https://www.instagram.com/" data-uk-icon="icon: instagram; ratio: 0.8" class="uk-icon-button instagram" target="_blank"></a>
          </div>
          <div>
            <a href="#" data-uk-icon="icon: twitter; ratio: 0.8" class="uk-icon-button twitter" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-margin-medium-top uk-text-small uk-text-muted">				
      <div>Made by <a class="uk-link-muted" target="_blank">Paul Erhuvwu</a></div>
    </div>
  </div>
</footer>


<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <a class="uk-logo" href="#">CHOW</a>
    <button class="uk-offcanvas-close" type="button" data-uk-close="ratio: 1.2"></button>
    <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-medium-top uk-text-center">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'faq' %}">FAQ</a></li>
      <li><a href="{% url 'share' %}">Share Recipe</a></li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'shared-recipes' %}">Shared Recipe</a>
        <a class="uk-button uk-width-1-1 uk-button-primary" style="font-size: 17px; color: #666; font-weight: bold;" href="{% url 'logout' %}">Logout</a> 
      </li>
      {% else %}
      <li><a href="{% url 'signin' %}">Sign In</a></li>
    </ul>
    <div class="uk-margin-medium-top">
      <a class="uk-button uk-width-1-1 uk-button-primary" style="font-size: 17px;" href="{% url 'signup' %}">Sign Up</a>
    </div>
    {% endif %}
    <div class="uk-margin-medium-top uk-text-center">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
        <div>
          <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>